################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Mentorship.Basics/bin/Debug/net5.0/Mentorship.Basics.pdb
